html,
body {
    margin: 0;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}


.section{
    display: flex;

}
.heading{
   margin-left: 2rem;
   
}

.images{
 margin-right: 3rem;
 min-inline-size: 100%;
 inline-size: 100%;

}
h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    margin-left: 1rem;
    color: black;
}
.underline:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
ul{
    position:relative;
    bottom: 8px;
}
li{
    color: black;
}
.img{
    border-radius: 50%;
    
}
.aboutme{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px grey;
   
}

.resume{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px grey;
}

.projects{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px grey;
}
.github{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.3rem;
    border-radius: 2rem;
    box-shadow:  5px 5px 10px grey;
}
.contact{
    display:flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px grey;
}
@media (max-width: 999px){
    .section{
      flex-direction: column;
      
    }
}
@media(max-width: 600px){
    .images{
        height: 200px;
    }
}
@media(max-width: 600px){
    .img{
        height: 30px;
    }
}
@media(max-width: 600px){
    h1{
        font-size: 2rem;
    }
}



















