html,
body {
   margin: 0;
   height: 100%;
   font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading{
   padding:2rem;
}

.images{
 min-inline-size: 100%;
 inline-size: 100%;
}

h1{
    text-align: center;
    font-size: 3rem;
 
}

h2{
    margin-left: 1rem;
    color: black;
}
.underline:hover{
    color: blue;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
ul{
    position:relative;
    bottom: 8px;
}
li{
    color: black;
}
.img{
    border-radius: 50%;
    
}
.icon{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
    
}
.contact{
    display:flex;
    align-items: center;
}
@media (max-width: 999px){
    .section{
      flex-direction: column;
     }
}

@media(max-width: 600px){
    .images{
        height: 200px;
    }
}
@media(max-width: 600px){
    .img{
        height: 40px;
    }
}
@media(max-width: 600px){
    h1{
        font-size: 2rem;
    }
}





















